
body {
  background-color: #1c1c1c;
  color: #fff;
  overflow-x: scroll;
}

button {
  background-color: #444;
  color: #fff;
}

a {
  color: #adb5bd;
}

a:hover {
  color: #6c757d;
}

input[type="text"],
input[type="password"] {
  background-color: #333;
  color: #fff;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #1c1c1c;
}

::-webkit-scrollbar-thumb {
  background-color: #444;
}
