<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>UnTube</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="manifest" href="/manifest.json">
  <style>
    pre {
      background-color: #333;
      padding: 0.5rem;
      max-height: 400px;
    }
  </style>
</head>

<body>
  <div class="container-fluid mb-4">
    <div class="row">
      <div class="col-md-6 offset-md-3 mt-3">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Untube</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link {% if page == 'home' %}active{% endif %}" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {% if page == 'downloads' %}active{% endif %}" href="/downloads/">Available Downloads</a>
                </li>
              </ul>
              <ul class="navbar-nav">
                <li class="nav-item float-end">
                  <a class="nav-link {% if page == 'admin' %}active{% endif %}" href="/admin/">Admin</a>
                </li>
              </ul>
              <form class="d-none d-md-flex" action="/info/" method="post" role="search">
                <input class="form-control me-2" type="search" name="url"
                  placeholder="https://www.youtube.com/watch?v=..." aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </div>
        </nav>
      </div>
      <div class="col-md-6 offset-md-3 mt-3">
        {% with messages = get_flashed_messages(with_categories=true) %}
        <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible" role="alert">
          {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
      </div>
      <div class="col-12 mb-3 d-md-none">
        <form class="d-flex" action="/info/" method="post" role="search">
          <input class="form-control" type="search" name="url"
            placeholder="https://www.youtube.com/watch?v=..." aria-label="Search">
        </form>
      </div>
    </div>
    {% block content %} {% endblock %}
  </div>
  {% block post_content %} {% endblock %}
  <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
    integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"
    async></script>
</body>

</html>
{% block custom_scripts %}{% endblock %}