{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-sm-12">
        <h3>Recent Downloads</h3>
        {% if recent_downloads %}
        {% for download in recent_downloads %}
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-5">
                    <img src="{{ download.thumbnail }}" class="img-fluid rounded-start" alt="Thumbnail Unavailable">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <h5 class="card-title">{{ download.title }}</h5>
                        <p class="card-text">
                            {% if download.description %}
                            {{ download.description }}
                            {% else %}
                            <i>No description available.</i>
                            {% endif %}
                        </p>
                        <p class="card-text">
                            <small class="text-body-secondary">
                            {% if download._type == 'video' %}
                            Video Length: {{ download.length }}
                            {% elif download._type == 'playlist' %}
                            {{ download.length }} videos
                            {% endif %}
                            </small>
                        </p>
                    </div>
                </div>
            </div>
            {% if download._type == 'video' %}
                <a href="{{ url_for('video_info', v=download.id) }}" class="stretched-link"></a>
            {% elif download._type == 'playlist' %}
                <a href="{{ url_for('playlist_info', list=download.id) }}" class="stretched-link"></a>
            {% endif %}
        </div>
        {% endfor %}
        {% else %}
        <div class="card mb-3">
            <div class="card-body">
                <p class="card-text"><strong>No recent downloads.</strong></p>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="col-md-6 col-sm-12">
        <h3>Recent Searches</h3>
        {% if recent_searches %}
        {% for search in recent_searches %}
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-5">
                    <img src="{{ search.thumbnail }}" class="img-fluid rounded-start" alt="Thumbnail Unavailable">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <h5 class="card-title">{{ search.title }}</h5>
                        <p class="card-text">
                            {% if search.description %}
                            {{ search.description }}
                            {% else %}
                            <i>No description available.</i>
                            {% endif %}
                        </p>
                        <p class="card-text"><small class="text-body-secondary">
                            {% if search._type == 'video' %}
                            Video Length: {{ search.length }}
                            {% elif search._type == 'playlist' %}
                            {{ search.length }} videos
                            {% endif %}
                        </small></p>
                    </div>
                </div>
            </div>
            {% if search._type == 'video' %}
                <a href="{{ url_for('video_info', v=search.id) }}" class="stretched-link"></a>
            {% elif search._type == 'playlist' %}
                <a href="{{ url_for('playlist_info', list=search.id) }}" class="stretched-link"></a>
            {% endif %}
        </div>
        {% endfor %}
        {% else %}
        <div class="card mb-3">
            <div class="card-body">
                <p class="card-text"><strong>No recent searches.</strong></p>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="col-md-6 col-sm-12">
        <h3>Queued Downloads</h3>
        {% if download_queue %}
        {% for download in download_queue %}
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-5">
                    <img src="{{ download.thumbnail }}" class="img-fluid rounded-start" alt="Thumbnail Unavailable">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <h5 class="card-title">{{ download.title }}</h5>
                        <p class="card-text">
                            {% if download.description %}
                            {{ download.description }}
                            {% else %}
                            <i>No description available.</i>
                            {% endif %}
                        </p>
                        <p class="card-text"><small class="text-body-secondary">
                            {% if download._type == 'video' %}
                            Video Length: {{ download.length }}
                            {% elif download._type == 'playlist' %}
                            {{ download.length }} videos
                            {% endif %}
                        </small></p>
                    </div>
                </div>
            </div>
            {% if download._type == 'video' %}
                <a href="{{ url_for('video_info', v=download.id) }}" class="stretched-link"></a>
            {% elif download._type == 'playlist' %}
                <a href="{{ url_for('playlist_info', list=download.id) }}" class="stretched-link"></a>
            {% endif %}
        </div>
        {% endfor %}
        {% else %}
        <div class="card mb-3">
            <div class="card-body">
                <p class="card-text"><strong>No queued downloads.</strong></p>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}