{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-12 mt-3">
        <a type="button" class="float-end btn btn-success" href="{{ url_for('queue', id=_keyname) }}">Download This Playlist</a>
    </div>
    <div class="col-12 mt-3">
        <div class="card">
            <img src="{{ thumbnail }}" class="card-img-top" alt="Video Thumbnail Unavailable">
            <div class="card-body">
                <h5 class="card-title">{{ title }} <p class="text-small">{{ author }}</p>
                </h5>
                <p class="card-text">
                    {% if description %}
                    {{ description }}
                    {% else %}
                    <i>No description available.</i>
                    {% endif %}
                    <hr>
                    <span class="text-small">{{ length }} videos</span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-12">
        <h3 class="mt-3">Videos in this Playlist</h3>
    </div>
    <div class="col-12">
        <div class="row" data-masonry='{"percentPosition": true }'>
            {% for video in videos %}
            <div class="col-4 mb-2">
                <div class="card">
                    <img src="{{ video.thumbnail }}" class="card-img-top" alt="Video Thumbnail">
                    <div class="card-body">
                        <h5 class="card-title">{{ video.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Uploaded By: {{ video.author }}</h6>
                        <p class="card-text">
                            {% if video.description %}
                            {{ video.description }}
                            {% else %}
                            <i>No description available.</i>
                            {% endif %}
                        </p>
                        <a href="{{ url_for('video_info', v=video.id) }}" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            {% endfor %}  
        </div>
    </div>
</div>
{% endblock %}
