{% extends "base.html" %}

{% block content %}
{% for video in videos %}
<input class="video-id" type="hidden" value="{{ video }}">
{% endfor %}
<div class="row">
    <div class="col-12 col-xxl-8 offset-xxl-2 mt-3">
        <a href="https://www.youtube.com/playlist?list={{ id }}" class="btn btn-outline-danger mr-1" target="_blank"
            rel="noopener noreferrer">Watch on Youtube</a>
        <!-- <a type="button" class="float-end btn btn-success" href="{{ url_for('queue', id=_keyname) }}">Download This Playlist</a> -->
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-success float-end" data-bs-toggle="modal" data-bs-target="#optionsModal">
            Download . . .
        </button>

        <!-- Modal -->
        <div class="modal fade" id="optionsModal" tabindex="-1" aria-labelledby="optionsModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="optionsModalLabel">Download Options</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12 mb-2">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="all-audio-only">
                                    <label class="form-check-label" for="all-audio-only">
                                        Audio Only (All)
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row content-options" id="playlistVideos">
                            {% for video in videos %}
                            <div class="col-4 mb-2 content-item d-none" id="card_{{ video }}">
                                <div class="card video-card" id="video_{{ video }}" data-unavailable="{% if _unavailable %}true%{ else %}false{% endif %}" data-keyname="">
                                    <div class="card-header">
                                        
                                        <button type="button" class="btn-close float-end remove-item" data-remove="#card_{{ video }}" aria-label="Close"></button>
                                    </div>
                                    <img src="/static/images/thumb_unavailable.png" class="card-img-top" alt="Video Thumbnail">
                                    <div class="card-body">
                                        <p class="card-text">
                                            <div class="row" style="align-items: center;">
                                                <div class="col-6">
                                                    <select class="form-select quality-select" id="qualitySelect_{{ video }}" aria-label="Video Quality Select">

                                                    </select>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-check">
                                                        <input class="form-check-input audio-only-check" type="checkbox" value="" id="audioOnly_{{ video }}">
                                                        <label class="form-check-label" for="audioOnlyCheck">
                                                            Audio Only
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="submitQueue">Queue</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="dropdown float-end">
            <button class="btn btn-outline-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Download This Playlist
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#" id="">Download as Video</a></li>
                <li><a class="dropdown-item" href="{{ url_for('queue', id=_keyname, only_audio='yes') }}">Download as MP3</a></li>
            </ul>
        </div> -->
    </div>
    <div class="col-12 col-xxl-8 offset-xxl-2 mt-3">
        <div class="card">
            <img src="/static/images/thumb_unavailable.png" class="card-img-top" id="playlistImage" alt="Video Thumbnail Unavailable">
            <div class="card-body">
                <h5 class="card-title">{{ title }} <p class="text-small">{{ author }}</p>
                </h5>
                <p class="card-text">
                    {% if description %}
                    {{ description }}
                    {% else %}
                    <i>No description available.</i>
                    {% endif %}
                    <hr>
                    <span class="text-small">{{ length }} videos</span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-12 col-xxl-8 offset-xxl-2">
        <h3 class="mt-3">Videos in this Playlist</h3>
        <hr>
        <div class="alert alert-info" id="videoListLoading" role="alert">
            <div class="spinner-border spinner-border-sm text-info" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <span class="ms-1">Loading Videos...</span>
             <!-- Loading Videos ... -->
        </div>            
    </div>
    <div class="col-12 col-xxl-8 offset-xxl-2">
        <div class="row video-list" data-masonry='{"percentPosition": true }'>
            {% for video in videos %}
            <div class="col-4 mb-2 d-none" id="video_list_{{ video }}">
                <div class="card" id="video_card_{{ video }}">
                    <img src="/static/images/thumb_unavailable.png" class="card-img-top" alt="Video Thumbnail">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary"></h6>
                        <p class="card-text">

                        </p>
                        <a href="" class="stretched-link video-card-link"></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block custom_scripts %}
<!-- <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script> -->
<script>
    function refreshMasonry() {
        let container = document.querySelector('.content-options');
        let msnry = new Masonry( container, {
            itemSelector: '.content-item'
        });
        let videoList = document.querySelector('.video-list');
        let msnry2 = new Masonry( videoList, {
            itemSelector: '.col-4'
        });
    }
    function sortSelect(selElem) {
        var tmpAry = new Array();
        for (var i=0;i<selElem.options.length;i++) {
            tmpAry[i] = new Array();
            tmpAry[i][0] = selElem.options[i].text;
            tmpAry[i][1] = selElem.options[i].value;
        }
        tmpAry.sort();
        while (selElem.options.length > 0) {
            selElem.options[0] = null;
        }
        for (var i=0;i<tmpAry.length;i++) {
            var op = new Option(tmpAry[i][0], tmpAry[i][1]);
            selElem.options[i] = op;
        }
        return;
    }
    function updateVideoInfo(video_info) {
        let modalCard = $("#video_" + video_info.id);
        let videoCard = $("#video_card_" + video_info.id);
        if (video_info._unavailable) {
            modalCard.addClass("border-danger");
            modalCard.find(".card-header").text("Unavailable");
            videoCard.addClass("border-danger");
            videoCard.find(".card-title").text("Unavailable");
        } else {
            modalCard.find(".card-header").text(video_info.title.substring(0, 30) + "...");
            modalCard.find(".card-img-top").attr("src", video_info.thumbnail);
            modalCard.data("keyname", video_info._keyname);
            videoCard.find(".card-title").text(video_info.title);
            videoCard.find(".card-subtitle").text(video_info.author);
            videoCard.find(".card-img-top").attr("src", video_info.thumbnail);
            video_info.streams.forEach(element => {
                modalCard.find(".quality-select").append(new Option(element.resolution + "@" + element.fps + "fps", element.itag));
            });
            modalCard.find(".quality-select").each(function(){
                $('option', this).sort(function(a,b){
                    aParts = $(a).text().split("x");
                    bParts = $(b).text().split("x");
                    return aParts[0] - bParts[0];
                }).appendTo(this);
            });
            videoCard.find(".card-text").text(video_info.description.substring(0, 100) + "...");
            videoCard.find(".video-card-link").attr("href", "/info/video/?v=" + video_info.id);
        }
        $("#card_" + video_info.id).removeClass("d-none");
        $("#video_list_" + video_info.id).removeClass("d-none");
        refreshMasonry();
    }
    $(document).ready(function(){
        let totalVideos = $(".video-id").length;
        $(".video-id").each(function(i){
            let id = $(this).val();
            $.ajax({
                type: "GET",
                url: "/api/v1/video_info/" + id,
                success: function (data) {
                    // console.log(data);
                    if (i == 0) {
                        $("#playlistImage").attr("src", data.thumbnail);
                    }
                    updateVideoInfo(data);
                    if (i == totalVideos - 1) {
                        $("#videoListLoading").addClass("d-none");
                    }
                },
                failure: function (errMsg) {
                    console.log(errMsg);
                }
            });
        });
        $('.quality-select').each(function(){
            let id = $(this).attr("id");
            id = id.split("_");
            if (id.length > 2) {
                id.shift()
                id = id.join("_")
            } else {
                id = id[1]
            }
            if ($("#audioOnly_" + id).is(":checked")) {
                $("#qualitySelect_" + id).prop("disabled", true);
            } else {
                $("#qualitySelect_" + id).prop("disabled", false);
            }
        });
        refreshMasonry();
        $('#optionsModal').on( 'shown.bs.modal', function() {
            refreshMasonry();
        });
    });

    $(".audio-only-check").click(function () {
        let id = $(this).attr("id");
        id = id.split("_");
        if (id.length > 2) {
            id.shift()
            id = id.join("_")
        } else {
            id = id[1]
        }
        if ($(this).is(":checked")) {
            $("#qualitySelect_" + id).prop("disabled", true);
        } else {
            $("#qualitySelect_" + id).prop("disabled", false);
        }
    });

    $("#submitQueue").click(function () {
        let queue = [];
        $(".video-card").each(function () {
            if ($(this).data("unavailable") == true) {
                return;
            }
            let id = $(this).attr("id");
            id = id.split("_");
            if (id.length > 2) {
                id.shift()
                id = id.join("_")
            } else {
                id = id[1]
            }
            let quality = null
            let audioOnly = $("#audioOnly_" + id).is(":checked");
            let keyname = $(this).data("keyname")
            if (!audioOnly) {
                quality = $("#qualitySelect_" + id).val();
            }
            queue.push({
                "id": keyname,
                "quality": quality,
                "audioOnly": audioOnly
            });
        });
        console.log(queue)
        let final = {
            videos: queue,
        }
        $.ajax({
            type: "POST",
            url: "/api/v1/queue/",
            data: JSON.stringify(final),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                console.log(data);
                window.location.reload()
            },
            failure: function (errMsg) {
                window.location.reload()
            }
        });
    });

    $("#all-audio-only").click(function () {
        if ($(this).is(":checked")) {
            $(".audio-only-check").each(function () {
                $(this).prop("checked", true);
            });
            $(".quality-select").each(function () {
                $(this).prop("disabled", true);
            });
        } else {
            $(".audio-only-check").each(function () {
                $(this).prop("checked", false);
            });
            $(".quality-select").each(function () {
                $(this).prop("disabled", false);
            });
        }
    });

    $(".remove-item").click(function () {
        let id = $(this).data("remove")
        $(id).remove();
        refreshMasonry();
    });
</script>
{% endblock %}